<ion-view view-title="Dashboard">
    <ion-content class="chatThread">
        <ul class="chat-thread">
            <li ng-repeat="line in messages track by $index">
                {{line}}
            </li>
        </ul>
        <form class="chat-window">
            <input class="chat-window-message" name="chat-window-message" type="text" autofocus placeholder="Message..." ng-model="message" />
            <button ng-click="addMessage(message)" class="button button-positive" style="float: right;"> > </button>
        </form>
    </ion-content>
</ion-view>
