.chatThread {
	background-color: #294873;
	color: white;
	.marginlr {
		margin: 0 10px;
	}
	.chat-thread {
	}
	.bubble {
		background-color: white;
		padding: 5px;
		margin: 5px;
	}
	[data-user="true"] {
		text-align: right;
		@extend .bubble
	}

	[data-user="false"] {
		text-align: left;
		@extend .bubble
	}
}