@import "meteo";
@import "chat2";
@import "images";
/* Empty. Add your own CSS if you like */
.ion-content {
	margin-top: 44px;
}

::-webkit-scrollbar {
	display: none;
}

.appBlock {
	color: white;
	padding-top: 5px;
	border: 2px solid;
	text-align: center;
	border-radius: 10px;
	background-size: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-background-size: 50%;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	background-position: center center;
}

.appBlock a {
	color: white;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: bold;
}

.grid-item {
	width: calc(100vw / 7);
	height: calc(100vw / 7);
}

/*Petit ordinateur*/
@media screen and (max-width: 1024px) {
	.grid-item {
		width: calc(100vw / 6);
		height: calc(100vw / 6);
	}
}

/* Tablette */
@media screen and (max-width: 768px) {
	.grid-item {
		width: calc(100vw / 5);
		height: calc(100vw / 5);
	}
}

/* Mobile L */
@media screen and (max-width: 425px) {
	.grid-item {
		width: calc(100vw / 4);
		height: calc(100vw / 4);
	}
}

/* Mobile M */
@media screen and (max-width: 375px) {
	.grid-item {
		width: calc(100vw / 3);
		height: calc(100vw / 3);
	}
}

/* Mobile S */
@media screen and (max-width: 425px) {

}


